html *
{
  font-size: 1em !important;
  font-weight: bold;
  font-family: Arial !important;
}

#link_bar a:link { color:#00CED1; background-color:#E0FFFF; text-decoration: none; padding: 1px 2px 1px 2px}
#link_bar a:visited { color:#c0c0c0; background-color:#0000CD; text-decoration: none;}
#link_bar a:hover { color:#ffffff; background-color:#000060; text-decoration: underline;}
#link_bar a:active { color:#f0f0f0; background-color:olive; text-decoration: underline;}

.recent_course {
  text-decoration: underline;
}

.recent_year {
  color: #ffffff;
  background-color: rgb(255, 0, 0); 
  line-height:28.4444px;
}

p#reszletek {
  margin-left: 1%;
  margin-right: 52%;
  border:1px solid black; 
  border-radius: 5px; 
  padding: 2px;
}
